{% extends "encyclopedia/layout.html" %}

{% block title %}
    Redirecting...
{% endblock %}
<!-- Content -->
{% block body %}
<h1>Oops...</h1>
<br>
<h3>The page you are trying to create already exists.</h3>
<br>
You are being redirect to that page.
<!-- The following technique is from https://stackoverflow.com/questions/27660467/how-to-do-2-continuous-redirect-in-django -->
<script>
    // Redirect
    window.setTimeout(function() {
        window.location.href = "/wiki/{{page_name}}";
    }, 5000);
</script>
{% endblock %}